/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

header {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
header .header-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-container nav ul li a:link,
header .header-container nav ul li a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 1.8em;
  /*
  &:nth-child(1){
    color:black;
  }*/
}
header .header-container nav ul li a:link:last-child,
header .header-container nav ul li a:visited:last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  background-color: #8338EC;
}
header .header-container nav ul li a:link:last-child:hover,
header .header-container nav ul li a:visited:last-child:hover {
  background-color: #B588F4;
}

.section-filters {
  padding: 4.8rem 0 3.2rem 0;
}
.section-filters .filters-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-filters .filters-container h2 {
  font-size: 4.4rem;
}
.section-filters .filters-container .filters-box {
  max-width: 45em;
  display: flex;
  align-items: center;
  gap: 4rem;
  border: 1px solid #DEE2E6;
  border-radius: 9px;
  padding: 0.5rem 1rem;
}
.section-filters .filters-container .filters-box .btn-filter {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container {
  border: 0.5px solid #DEE2E6;
  border-radius: 9px;
  width: 50rem;
  height: 20rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container-1 {
  left: 9%;
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container-2 {
  width: 40rem;
  height: 15rem;
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container-3 {
  top: 35%;
}
.section-filters .filters-container .filters-box .arrow-icon {
  width: 1.7rem;
  height: 1.7rem;
}
.section-filters .user-inputs-container {
  display: flex;
  gap: 1.2rem;
  padding: 0 2rem;
}
.section-filters .user-inputs-container .chosen-inputs {
  display: flex;
  gap: 1.2rem;
}
.section-filters .user-inputs-container .chosen-inputs .filtered-item {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 0.7rem 1.2rem;
}
.section-filters .user-inputs-container .chosen-inputs .filtered-item:p {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-filters .user-inputs-container .chosen-inputs .btn-clear {
  font-size: 1.8rem;
  font-weight: 700;
}

/*
  .user-inputs-container{
    display: flex;
    gap: 1.2rem;
    padding: 0 2rem;
  }
  .chosen-inputs {
    display: flex;
    gap: 1.2rem;
  }
  .filtered-item {
    display: flex;
    align-items: center;
    border: 1px solid #999;
    border-radius: 12px;
    padding: 0.7rem 1.2rem;
  }
  .filtered-item p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .close-icon {
    font-size: 2rem;
    font-weight: 500;
  }
  .btn-clear {
    font-size: 1.8rem;
    font-weight: 700;
  }*/
.hidden {
  visibility: hidden;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
.btn-filter:hover {
  color: #8338EC;
}
.btn-choose {
  padding: 0.5rem 3rem;
  border-radius: 15px;
  background-color: #8338EC;
  color: #fff;
  align-self: flex-end;
}/*# sourceMappingURL=global.css.map */