/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/* firago-latin-400-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/firago/files/firago-latin-400-normal.woff2) format("woff2"), url(@fontsource/firago/files/firago-latin-400-normal.woff) format("woff");
}
/* firago-latin-500-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/firago/files/firago-latin-500-normal.woff2) format("woff2"), url(@fontsource/firago/files/firago-latin-500-normal.woff) format("woff");
}
/* firago-latin-600-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(@fontsource/firago/files/firago-latin-600-normal.woff2) format("woff2"), url(@fontsource/firago/files/firago-latin-600-normal.woff) format("woff");
}
/* firago-latin-700-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/firago/files/firago-latin-700-normal.woff2) format("woff2"), url(@fontsource/firago/files/firago-latin-700-normal.woff) format("woff");
}
header {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
header .header-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .header-container nav ul li a:link,
header .header-container nav ul li a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 1.8em;
  border-radius: 4px;
}
header .header-container nav ul li a:link:last-child,
header .header-container nav ul li a:visited:last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  background-color: #8338EC;
}
header .header-container nav ul li a:link:last-child:hover,
header .header-container nav ul li a:visited:last-child:hover {
  background-color: #B588F4;
}

.section-filters {
  padding: 4.8rem 0 3.2rem 0;
}
.section-filters .filters-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-filters .filters-container h2 {
  font-size: 2rem;
  font-weight: 700;
}
.section-filters .filters-container .filters-box {
  max-width: 45em;
  display: flex;
  align-items: center;
  gap: 4rem;
  border: 1px solid #DEE2E6;
  border-radius: 9px;
  padding: 1rem 1.2rem;
}
.section-filters .filters-container .filters-box .btn-filter {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container {
  border: 0.5px solid #DEE2E6;
  border-radius: 9px;
  width: 50rem;
  height: 20rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  z-index: 10000;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container-1 {
  left: 9%;
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container-2 {
  width: 40rem;
  height: 15rem;
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container-3 {
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container .fiter-priorities-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container .btn-choose {
  align-self: self-end;
}
.section-filters .filters-container .filters-box .multiple-selector-container .employee-img {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 9px;
}
.section-filters .filters-container .filters-box .multiple-selector-container label {
  font-size: 1rem;
}
.section-filters .filters-container .filters-box .arrow-icon {
  width: 1.7rem;
  height: 1.7rem;
}
.section-filters .user-inputs-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
}
.section-filters .user-inputs-container .selections-container {
  display: flex;
  gap: 1.2rem;
}
.section-filters .user-inputs-container .selections-container .filtered-item {
  display: flex;
  align-items: center;
  border: 0.5px solid #DEE2E6;
  border-radius: 12px;
  padding: 0.7rem 1.2rem;
}
.section-filters .user-inputs-container .selections-container .filtered-item:p {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-filters .user-inputs-container .selections-container .filtered-item .close-icon {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-filters .user-inputs-container .selections-container .btn-clear {
  font-size: 1.8rem;
  font-weight: 700;
}

.section-tasks {
  padding: 4.8rem 0 3.2rem 0;
}
.section-tasks .tasks-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-tasks .tasks-container .taskCard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: -moz-min-content;
  width: min-content;
}
.section-tasks .tasks-container .taskCard-container .status-title {
  padding: 1.5rem 10rem;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 2rem;
}
.section-tasks .tasks-container .taskCard-container .status-goingStart .status-title {
  background-color: #F7BC30;
}
.section-tasks .tasks-container .taskCard-container .status-goingStart .task-card {
  border: 1px solid #F7BC30;
}
.section-tasks .tasks-container .taskCard-container .status-goingStart .task-card .task-category {
  border: 1px solid #F7BC30;
}
.section-tasks .tasks-container .taskCard-container .status-inProgress .status-title {
  background-color: #FB5607;
}
.section-tasks .tasks-container .taskCard-container .status-inProgress .task-card {
  border: 1px solid #FB5607;
}
.section-tasks .tasks-container .taskCard-container .status-inProgress .task-card .task-category {
  border: 1px solid #FB5607;
}
.section-tasks .tasks-container .taskCard-container .status-readyForTesting .status-title {
  background-color: #FF006E;
  display: flex;
  gap: 0.2rem;
  width: 28rem;
}
.section-tasks .tasks-container .taskCard-container .status-readyForTesting .task-card {
  border: 1px solid #FF006E;
}
.section-tasks .tasks-container .taskCard-container .status-readyForTesting .task-card .task-category {
  border: 1px solid #FF006E;
}
.section-tasks .tasks-container .taskCard-container .status-finished .status-title {
  background-color: #3A86FF;
}
.section-tasks .tasks-container .taskCard-container .status-finished .task-card {
  border: 1px solid #3A86FF;
}
.section-tasks .tasks-container .taskCard-container .status-finished .task-card .task-category {
  border: 1px solid #3A86FF;
}
.section-tasks .tasks-container .taskCard-container .task-card {
  width: 28rem;
  height: 15rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories .task-category {
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories .department {
  padding: 0.7rem 1.2rem;
  background-color: #F7BC30;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-description h3 {
  font-size: 1rem;
  font-weight: 600;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-description p {
  font-size: 1rem;
  line-height: 1;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-employee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-employee img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 15px;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-employee div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
}

.add-employee-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 60rem;
  background-color: #fff;
  border-radius: 9px;
  padding: 5rem 4rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.add-employee-window .cancel-icon-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.add-employee-window h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
.add-employee-window form .employee-info-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.add-employee-window form .employee-info-container .fullName-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.add-employee-window form .employee-info-container .flex-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.add-employee-window form .employee-info-container .flex-container .department-box {
  align-self: flex-start;
  width: 47%;
}
.add-employee-window form .employee-info-container .flex-container .btns-container {
  align-self: flex-end;
}
.add-employee-window form .employee-info-container .flex-container .btns-container div {
  display: flex;
  gap: 0.5rem;
}
.add-employee-window form .employee-info-container .image-preview--image {
  width: 8rem;
  height: 8rem;
}
.add-employee-window form .employee-info-container label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.add-employee-window form .employee-info-container input {
  width: 100%;
  padding: 0.8rem 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #999;
  border-radius: 5px;
}

.select {
  width: 100%;
  padding: 0.8rem 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #999;
  border-radius: 5px;
}

.uploadImg-container {
  height: 15rem;
  border: 1px dashed #999;
  border-radius: 6px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadImg-container .image-upload {
  display: none;
  visibility: hidden;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.image {
  width: 1rem;
  height: 1rem;
  padding-left: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "FiraGO", sans-serif;
  background-color: #fff;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
.btn-filter {
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-filter:hover {
  color: #8338EC;
}
.btn-create {
  padding: 0.8rem 2.2rem;
  background-color: #8338EC;
  border-radius: 5px;
  color: #fff;
}
.btn-cancel {
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  border: 1px solid #8338EC;
}
.btn-choose {
  padding: 0.5rem 3rem;
  border-radius: 15px;
  background-color: #8338EC;
  color: #fff;
  align-self: flex-end;
}
.btn-add-employee {
  border: 2.3px solid #8338EC;
  padding: 1.2rem 2rem;
  background-color: #fff;
  border-radius: 4px;
}
.btn-add-employee:hover {
  border-color: #B588F4;
}

.section-create-task {
  padding: 5rem;
  background-color: #fff;
}
.section-create-task .create-task-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-create-task .create-task-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.section-create-task .create-task-container .form {
  max-width: 100%;
  height: 50rem;
  background-color: #FBF9FF;
  padding: 3rem;
  border-radius: 4px;
}
.section-create-task .create-task-container .form .grids-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section-create-task .create-task-container .form .grids-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.section-create-task .create-task-container .form .grids-container .grid-container label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.section-create-task .create-task-container .form .grids-container .grid-container .input,
.section-create-task .create-task-container .form .grids-container .grid-container .select {
  width: 100%;
  padding: 1rem;
  border: 2.5px solid rgba(128, 138, 147, 0.4392156863);
  border-radius: 9px;
}
.section-create-task .create-task-container .form .grids-container .grid-container .textarea {
  width: 100%;
  border: 2.5px solid rgba(128, 138, 147, 0.4392156863);
  border-radius: 9px;
  padding: 2rem;
  resize: none;
}
.section-create-task .create-task-container .form .grids-container .grid-container .priority-status-container {
  display: flex;
}
.section-create-task .create-task-container .form .grids-container .grid-container .priority-status-container p {
  display: block;
}
.section-create-task .create-task-container .form .grids-container .grid-container .priority-status-container div {
  width: 100%;
}
.section-create-task .create-task-container .form .grids-container .btn-createTask-box {
  align-self: flex-end;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
}
.dropdown-container .disable {
  color: #ADB5BD;
}
.dropdown-container .dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-container .dropdown-btn {
  width: 95%;
  padding: 1rem 0;
  border: 2.5px solid rgba(128, 138, 147, 0.4392156863);
  border-radius: 9px;
}
.dropdown-container .dropdown-btn-employee {
  width: 100%;
}
.dropdown-container .dropdown-btn-employee {
  height: 4rem;
}
.dropdown-container .dropdown-content {
  position: absolute;
  background-color: #fff;
  transform: translate(0, 2%);
  border: 1px solid rgba(128, 138, 147, 0.4392156863);
  height: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-container .dropdown-content a {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.3rem;
}
.dropdown-container .dropdown-content a img {
  width: 1.2rem;
  height: 1.2rem;
}
.dropdown-container .dropdown-content a:hover {
  background-color: #4646FF;
  color: #fff;
}
.dropdown-container .dropdown .dropdown-content-employees {
  width: 100%;
  height: 18rem;
}
.dropdown-container .dropdown .dropdown-content-employees img {
  width: 2rem;
  height: 2rem;
  border-radius: 15px;
}
.dropdown-container .dropdown .dropdown-content-employees p {
  font-size: 1.2rem;
}
.dropdown-container .dropdown .dropdown-content-priorities img {
  width: 1.5rem;
  height: 1.5rem;
}
.dropdown-container .dropdown .dropdown-content-priorities p {
  font-size: 1.2rem;
}
.dropdown-container .dropdown .default {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}
.dropdown-container .dropdown .default img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 15px;
}
.dropdown-container .dropdown .default p {
  font-size: 1.2rem;
}

.remove {
  display: none;
}

.validInput {
  border: 2.5px solid rgba(0, 128, 0, 0.7) !important;
}

.invalidInput {
  border: 2.5px solid red !important;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.detailed-section {
  padding: 10rem 0;
}
.detailed-section .detaild-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  gap: 18rem;
}
.detailed-section .detaild-container .taskDetaild-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailed-section .detaild-container .taskDetaild-container .main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailed-section .detaild-container .taskDetaild-container .main-content .header-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detailed-section .detaild-container .taskDetaild-container .main-content .header-container .categ-dep-container {
  display: flex;
}
.detailed-section .detaild-container .taskDetaild-container .main-content .header-container .categ-dep-container .task-category {
  padding: 0.3rem 0.8rem;
  border-color: #F7BC30;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.detailed-section .detaild-container .taskDetaild-container .main-content .header-container .categ-dep-container .department {
  padding: 0.7rem 1.2rem;
  background-color: #F7BC30;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}
.detailed-section .detaild-container .taskDetaild-container .main-content .header-container h2 {
  font-size: 2.3rem;
  font-weight: 700;
}
.detailed-section .detaild-container .taskDetaild-container .main-content p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #474747;
}
.detailed-section .detaild-container .taskDetaild-container .details-content {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .heading-details {
  font-size: 1.8rem;
  font-weight: 700;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .container {
  display: flex;
  gap: 5rem;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .icon-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .status-container select {
  padding: 0.5rem 2rem 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  border: 1px solid #999;
  border-radius: 5px;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .employee-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .employee-info-container img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 15px;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .employee-info-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .employee-info-container .task-employee {
  font-weight: 600;
}
.detailed-section .detaild-container .taskDetaild-container .details-content .deadline-date {
  align-self: center;
}
.detailed-section .detaild-container .taskDetaild-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #474747;
}
.detailed-section .detaild-container .comments-container {
  padding: 6rem 3rem 10rem;
  background-color: rgba(212, 210, 221, 0.3137254902);
}
.detailed-section .detaild-container .comments-container form .textarea {
  width: 100%;
  height: 10rem;
  border: 2.5px solid rgba(128, 138, 147, 0.4392156863);
  border-radius: 9px;
  padding: 2rem;
  resize: none;
}
.detailed-section .detaild-container .comments-container .comments-amount {
  margin: 1.7rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.detailed-section .detaild-container .comments-container .comments-amount h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.detailed-section .detaild-container .comments-container .comments-amount div {
  padding: 0.8rem 1rem;
  border-radius: 15px;
  color: #fff;
  background-color: #8338EC;
}
.detailed-section .detaild-container .comments-container .comments {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailed-section .detaild-container .comments-container .comments .comment-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.detailed-section .detaild-container .comments-container .comments .author-container {
  margin-left: 5rem;
}
.detailed-section .detaild-container .comments-container .comments .comment-icon {
  margin-left: 5rem;
  width: 7rem;
}
.detailed-section .detaild-container .comments-container .comments .author-image {
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
}
.detailed-section .detaild-container .comments-container .comments .author-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detailed-section .detaild-container .comments-container .comments .author-container .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detailed-section .detaild-container .comments-container .comments .author-container .nested-comment-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.detailed-section .detaild-container .comments-container .comments .author-container .nested-comment-container div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.detailed-section .detaild-container .comments-container .comments .author-container .add-comment-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailed-section .detaild-container .comments-container .author-fullname {
  font-size: 1.4rem;
  font-weight: 600;
}
.detailed-section .detaild-container .comments-container .comment {
  font-size: 1.3rem;
  color: #343A40;
}

.displayNone {
  display: none;
}/*# sourceMappingURL=global.css.map */