/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

header {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
header .header-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-container nav ul li a:link,
header .header-container nav ul li a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 1.8em;
  /*
  &:nth-child(1){
    color:black;
  }*/
}
header .header-container nav ul li a:link:last-child,
header .header-container nav ul li a:visited:last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  background-color: #8338EC;
}
header .header-container nav ul li a:link:last-child:hover,
header .header-container nav ul li a:visited:last-child:hover {
  background-color: #B588F4;
}

.section-filters {
  padding: 4.8rem 0 3.2rem 0;
}
.section-filters .filters-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-filters .filters-container h2 {
  font-size: 4.4rem;
}
.section-filters .filters-container .filters-box {
  max-width: 45em;
  display: flex;
  align-items: center;
  gap: 4rem;
  border: 1px solid #DEE2E6;
  border-radius: 9px;
  padding: 0.5rem 1rem;
}
.section-filters .filters-container .filters-box .btn-filter {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container {
  border: 0.5px solid #DEE2E6;
  border-radius: 9px;
  width: 50rem;
  height: 20rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container-1 {
  left: 9%;
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container-2 {
  width: 40rem;
  height: 15rem;
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container-3 {
  top: 35%;
}
.section-filters .filters-container .filters-box .multiple-selector-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container .fiter-priorities-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-filters .filters-container .filters-box .multiple-selector-container .btn-choose {
  align-self: self-end;
}
.section-filters .filters-container .filters-box .arrow-icon {
  width: 1.7rem;
  height: 1.7rem;
}
.section-filters .user-inputs-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
}
.section-filters .user-inputs-container .selections-container {
  display: flex;
  gap: 1.2rem;
}
.section-filters .user-inputs-container .selections-container .filtered-item {
  display: flex;
  align-items: center;
  border: 0.5px solid #DEE2E6;
  border-radius: 12px;
  padding: 0.7rem 1.2rem;
}
.section-filters .user-inputs-container .selections-container .filtered-item:p {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-filters .user-inputs-container .selections-container .filtered-item .close-icon {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-filters .user-inputs-container .selections-container .btn-clear {
  font-size: 1.8rem;
  font-weight: 700;
}

.section-tasks {
  padding: 4.8rem 0 3.2rem 0;
}
.section-tasks .tasks-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-tasks .tasks-container .tasks-type-container {
  display: flex;
  justify-content: space-between;
}
.section-tasks .tasks-container .tasks-type-container div {
  padding: 1.5rem 10rem;
  border-radius: 10px;
  color: #fff;
}
.section-tasks .tasks-container .tasks-type-container div:nth-child(1) {
  background-color: #F7BC30;
}
.section-tasks .tasks-container .tasks-type-container div:nth-child(2) {
  background-color: #FB5607;
}
.section-tasks .tasks-container .tasks-type-container div:nth-child(3) {
  background-color: #FF006E;
}
.section-tasks .tasks-container .tasks-type-container div:nth-child(4) {
  background-color: #3A86FF;
}
.section-tasks .tasks-container .taskCard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 3rem;
}
.section-tasks .tasks-container .taskCard-container .task-card {
  width: 28rem;
  height: 15rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories .task-category {
  padding: 0.3rem 0.8rem;
  border: 0.5px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-categories .department {
  padding: 0.7rem 1.2rem;
  background-color: #F7BC30;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-description h3 {
  font-size: 1.2rem;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-employee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-employee img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 10px;
}
.section-tasks .tasks-container .taskCard-container .task-card .task-card-employee div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.test {
  padding: 5rem;
}
.test .create-task-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  background-color: #fff;
}
.test .create-task-container form {
  max-width: 100%;
  height: 50rem;
  background-color: #FBF9FF;
  padding: 1rem 3rem;
}
.test .create-task-container form .grids-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.test .create-task-container form .grids-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.test .create-task-container form .grids-container .grid-container label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.test .create-task-container form .grids-container .grid-container input,
.test .create-task-container form .grids-container .grid-container select {
  width: 100%;
  padding: 1rem;
  border: 2.5px solid rgba(128, 138, 147, 0.4392156863);
  border-radius: 9px;
}
.test .create-task-container form .grids-container .grid-container textarea {
  width: 100%;
  border: 2.5px solid rgba(128, 138, 147, 0.4392156863);
  border-radius: 9px;
  padding: 2rem;
  resize: none;
}
.test .create-task-container form .grids-container .grid-container .priority-status-container {
  display: flex;
}
.test .create-task-container form .grids-container .grid-container .priority-status-container div {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
}

.add-employee-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 55rem;
  background-color: #fff;
  border-radius: 9px;
  padding: 5rem 4rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.add-employee-window form .employee-info-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.add-employee-window form .employee-info-container .fullName-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.add-employee-window form .employee-info-container .flex-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.add-employee-window form .employee-info-container .flex-container .department-box {
  align-self: flex-start;
  width: 47%;
}
.add-employee-window form .employee-info-container .flex-container .btns-container {
  align-self: flex-end;
}
.add-employee-window form .employee-info-container .flex-container .btns-container div {
  display: flex;
  gap: 0.5rem;
}
.add-employee-window form .employee-info-container .image-preview--image {
  width: 8rem;
  height: 8rem;
}
.add-employee-window form .employee-info-container .uploadImg-container {
  height: 15rem;
  border: 1px dashed #999;
  border-radius: 6px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-employee-window form .employee-info-container .uploadImg-container .image-upload {
  display: none;
  visibility: hidden;
}
.add-employee-window form .employee-info-container label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.add-employee-window form .employee-info-container input,
.add-employee-window form .employee-info-container select {
  width: 100%;
  padding: 0.8rem 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid #999;
  border-radius: 5px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.image {
  width: 1rem;
  height: 1rem;
  padding-left: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
.btn-filter:hover {
  color: #8338EC;
}
.btn-create {
  padding: 0.8rem 2.2rem;
  background-color: #8338EC;
  border-radius: 5px;
  color: #fff;
}
.btn-cancel {
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  border: 1px solid #8338EC;
}
.btn-choose {
  padding: 0.5rem 3rem;
  border-radius: 15px;
  background-color: #8338EC;
  color: #fff;
  align-self: flex-end;
}/*# sourceMappingURL=global.css.map */