* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.btn {
  &,
  &:link,
  &:visited{
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  &-filter:hover {
      color: $color-primary-dark;

  }
  &-create{
    padding:0.8rem 2.2rem;
    background-color: $color-primary-dark;
    border-radius: 5px;
    color:#fff;
  }
  &-cancel{
    padding:0.8rem 1.8rem;
    border-radius: 5px;
    border:1px solid $color-primary-dark;

  }

  &-choose{
    padding:0.5rem 3rem;
    border-radius: 15px;
    background-color: $color-primary-dark;
    color:#fff;


    align-self: flex-end;

    
  }
  




}

