/* firago-latin-400-normal */
@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/firago/files/firago-latin-400-normal.woff2) format('woff2'), url(@fontsource/firago/files/firago-latin-400-normal.woff) format('woff');
  }
  
  /* firago-latin-500-normal */
  @font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(@fontsource/firago/files/firago-latin-500-normal.woff2) format('woff2'), url(@fontsource/firago/files/firago-latin-500-normal.woff) format('woff');
  }
  
  /* firago-latin-600-normal */
  @font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(@fontsource/firago/files/firago-latin-600-normal.woff2) format('woff2'), url(@fontsource/firago/files/firago-latin-600-normal.woff) format('woff');
  }
  
  /* firago-latin-700-normal */
  @font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(@fontsource/firago/files/firago-latin-700-normal.woff2) format('woff2'), url(@fontsource/firago/files/firago-latin-700-normal.woff) format('woff');
  }